<form [formGroup]="loginForm" class="login-form">
  <p-floatlabel variant="in">
    <input pInputText id="username" formControlName="username" autocomplete="off" />
    <label for="username">Username</label>
  </p-floatlabel>

  <p-floatlabel variant="in">
    <input pInputText id="password" formControlName="password" autocomplete="off" />
    <label for="password">Password</label>
  </p-floatlabel>

  <div class="action">
    <p-button type="button" (click)="login()">Submit</p-button>
  </div>
</form>
